.hero-wrapper {
  max-width: 100% !important;
  padding: 0 !important;
}

.hero {
  --hero-bg: rgb(252, 241, 231);
  --hero-text: rgb(227, 113, 10);
  --hero-padding: 64px;
  --hero-font-size: 32px;

  background-color: var(--hero-bg);
  color: var(--hero-text);
  padding: 64px 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h2 {
  font-size: var(--hero-font-size);
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  max-width: 720px;
  margin-inline: auto;
}

@media (width >= 900px) {
  .hero {
    padding: 64px 32px;
  }
}
